{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Predicted Customer: {{ name }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <!-- note, the id is not used in the template -->

      <h1 class="pt-5 pb-2">{{ name }}</h1>
      <h3 class="pt-5 pb-2">Hasil Segmentasi Customer : <strong> {{ label }} </strong></h3>

      <p><a href="{{ url_for('index') }}">Return to form page</a></p>

	  <!--
	      notice how the URL in the link above is rendered for
	      Flask - it needs to name the FUNCTION, not the route
      -->

	  <!-- <p>Images are from <a href="https://placebear.com/">placebear</a>.</p> -->

	  <p>Cutomer segmentasi ini memiliki data sebagai berikut : <br>
      <ul>
        <li> Rata - rata hari sejak terakhir pembelian = {{ days }} hari yang lalu </li>
        <li> Rata - rata jumlah barang yang dibeli  = {{ freq }} barang </li>
        <li> Rata - rata total harga pembelian = {{ amount }} satuan harga </li>
        <li> Total customer pada segmentasi ini = {{ total }} orang </li>
      </ul>

      Terima kasih sudah menggunakan fitur segmentasi kami<br>
    </p>

    <!-- </div>
    <div class="col-sm-6">

      <img src="{{ photo }}" alt="Photo: {{ name }}" class="img-fluid pt-5">

      <p><em>Above: {{ name }}</em></p>

    </div> -->
  </div>
</div>

{% endblock %}
