{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Predicted Customer: {{ name }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <!-- note, the id is not used in the template -->

      <h1 class="pt-5 pb-2">{{ name }}</h1>
      <h1 class="pt-5 pb-2">Hasil Segmentasi Customer : <strong> {{ label }} </strong></h1>

      <p><a href="{{ url_for('index') }}">Return to form page</a></p>

	  <!--
	      notice how the URL in the link above is rendered for
	      Flask - it needs to name the FUNCTION, not the route
      -->

	  <!-- <p>Images are from <a href="https://placebear.com/">placebear</a>.</p> -->

	  <p>Cutomer segmentasi ini memiliki data rata-rata sebagai berikut : <br>
      <ul>
        <li> Rata - rata hari terakhir beli = {{ days }} hari yang lalu </li>
        <li> Rata - rata frekuensi  = {{ freq }} </li>
        <li> Rata - rata amount = {{ amount }} </li>
      </ul>
    </p>

    <!-- </div>
    <div class="col-sm-6">

      <img src="{{ photo }}" alt="Photo: {{ name }}" class="img-fluid pt-5">

      <p><em>Above: {{ name }}</em></p>

    </div> -->
  </div>
</div>

{% endblock %}
