{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Market Basket Analysis
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Market Basket Analysis</h1>

      <p class="lead">Melakukan pencarian berdasarkan nama produk. Hasil pencarian merupakan produk yang memiliki kesamaan nama ataupun produk yang biasanya ikut dibeli dengan pembelian produk yang dicari berdasarkan dataset pembelian</p>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>
	  <p > Coba Fitur Lain? <a href="{{ url_for('index') }}">Customer Segmentation</a> </p>

    </div>
  </div>
</div>

{% endblock %}
