{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Predicted Customer: {{ name }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <h1 class="pt-5 pb-2">{{ name }}</h1>
      <h3 class="pt-5 pb-2">Hasil Segmentasi Customer : <strong> {{ label }} </strong></h3>

      <p><a href="{{ url_for('index') }}">Return to form page</a></p>


	  <p>Cutomer segmentasi ini memiliki data sebagai berikut : <br>
      <ul>
        <li> Rata - rata hari sejak terakhir pembelian = {{ days }} hari yang lalu </li>
        <li> Rata - rata jumlah barang yang dibeli  = {{ freq }} barang </li>
        <li> Rata - rata total harga pembelian = {{ amount }} satuan harga </li>
        <li> Total customer pada segmentasi ini = {{ total }} orang </li>
      </ul>

      Terima kasih sudah menggunakan fitur segmentasi kami<br>
    </p>

  </div>
</div>

{% endblock %}
